#background {
  background-image: url('../../media/login-background.avif');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  > #overlay {
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 40%;
    width: 90%;
    max-width: 40vh;
    border-radius: 7px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

    > img {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      opacity: 100%;
    }
  }
}

.half-page-form {
  min-height: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-shrink: 0;

  > h1 {
    font-weight: 300;
  }

  > form {
    width: 80%;

    button,
    a {
      width: 100%;
      word-wrap: normal;

      span {
        max-width: 100%;
        overflow: hidden;
        height: fit-content;
        word-wrap: break-word;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  body {
    min-height: 380px;
  }

  .desktop-only {
    display: none;
  }

  .half-page-form {
    height: 100vh;
    width: 100vw;
    min-width: 70vw;
    max-width: none;
    justify-content: center;
    overflow: auto;

    > form {
      min-width: 130px;
      width: 100%;
    }
  }
}
