.ant-picker-calendar
  border-radius: 7px

  & .ant-picker-calendar-header
    margin-right: 12px

    & .ant-picker-calendar-mode-switch
      visibility: hidden
      display: none

.events
  margin: 0
  padding: 0
  list-style: none

  & .ant-list-item
    width: 100%
    overflow: hidden
    padding: 0
    // font-size: 12px
    white-space: nowrap
    text-overflow: ellipsis

  & .ant-badge:hover
    background-color: gray

.ant-picker-cell-disabled
  & .events
    filter: opacity(80%)

.notes-month
  font-size: 28px
  text-align: center

  & section
    font-size: 28px
