.notFound {
  display: flex;
  background-image: url('../../media/login-background.avif');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  > div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: white;
    border-radius: 7px;
    padding: 5%;
    max-width: 80vw;

    .anticon-rocket {
      width: 100%;

      > svg {
        height: 20vh;
        max-height: 60vw;
        width: auto;
        padding: 1em;
        border-radius: 7px;
        margin: auto;
      }
    }

    %copy {
      width: 100%;
      text-align: center;
    }

    h1 {
      @extend %copy;
      font-size: 2em;
    }

    h2 {
      @extend %copy;
      font-size: 1.5em;
      padding-bottom: 12px;
    }

    > .ant-btn {
      margin: auto;
    }
  }
}
