.mobile-only
  visibility: hidden
  display: none

@media screen and (max-width: 575px)
  .mobile-only
    visibility: visible
    display: flex

  .desktop-only
    visibility: hidden
    display: none

  #mobileNav-rc-menu-more-popup
    margin-bottom: 0

  .portal-content
    margin-bottom: 45px
